*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
    color: #555;
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)) , url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;  
}

.hero-text-box {
    width: 1140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    
}

.btn {
     display: inline-block;
     padding: 10px 30px;
     text-decoration: none;
     font-weight: 300;
     border-radius: 200px;
     transition: background-color 0.3s, border 0.3s;
}

.btn-full:link,
.btn-full:visited{
    border: 1px solid #e67e22;
    background-color: #e67e22;
    color: #fff;
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn-full:hover,
.btn-full:active{
    border: 1px solid #cf6d17;
    background-color: #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #cf6d17;
    background-color: #cf6d17;
    color: white;
}














